                 -@                
                .##@               
               .####@              
               @#####@             
             . *######@            
            .##@o@#####@           
           /############@          
          /##############@         
         @######@**%######@        
        @######`     %#####o       
       @######@       ######%      
     -@#######h       ######@.`    
    /#####h**``       `**%@####@   
   @H@*`                    `*%#@  
 *`        arch recovery        `* 
*=================================*

snapshots.txt:
  Total snapshots: {{snapshot_count}} 
  Generation date: {{created_at}}
