echo -off

type recovery.ascii
if %1 == "" then
    if exist snapshots.txt then
        echo "Find snapshot ID to boot and press Ctrl+Q (opening file in 5s)"
        stall 5000000
        edit snapshots.txt
        echo "To boot in a snapshot:     recovery.nsh <snapshot-id>"
        echo "To use LTS kernel:         recovery.nsh <snapshot-id> lts"
        echo "To see the list again:     recovery.nsh"
    else
        ls
        echo "No snapshot descriptions available."
    endif
else
    echo "=============================================================="
    echo "Before booting, please verify that the scripts are untampered!"
    echo "Examine the files 'startup.nsh' and 'recovery.nsh' via 'edit'."
    echo "=============================================================="
    if %2 == "lts" then
        echo "Boot: {{PATH_LTS}} {{CMDLINE}}"
        pause
        {{PATH_LTS}} {{CMDLINE}}
    else
        echo "Boot: {{PATH}} {{CMDLINE}}"
        pause
        {{PATH}} {{CMDLINE}}
    endif
endif
